h1 {
  line-height: 1.8;
  display: block;
  font-weight: 900;
  letter-spacing: 1pt;
  text-align: center;
  font-size: 1.2em;
}
h2 {
  line-height: 1.6;
  display: block;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1pt;
  text-align: center;
  font-size: 1.1em;
}
p {
  display: block;
  text-indent:2em;
  margin-top: 0;
}
p.jiaozhu {
  -epub-ruby-position: over;
  
  
  font-size: 0.667em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: justify;
  text-decoration: none;
}
p.yinwen {
  -epub-ruby-position: over;
  
  
  font-size: 0.792em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.895;
  text-align: justify;
  text-decoration: none;
}
p.riji {
  -epub-ruby-position: over;
  
  
  font-size: 0.792em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 2.105;
  text-align: justify;
  text-decoration: none;
}
span.neiwenyingwen {
  
  font-size: 0.792em;
  font-style: normal;
  font-weight: normal;
}
span.kuohaonei {
  
  font-size: 0.792em;
  font-style: normal;
  font-weight: normal;
}
span.jiaozhuli {
  
  font-size: 0.583em;
  font-style: normal;
  font-weight: normal;
}
span.jiaozhuliyingwen {
  
  font-size: 0.625em;
  font-style: normal;
  font-weight: normal;
}
span.jiaozhu {
  
  font-size: 0.583em;
  font-style: normal;
  font-weight: normal;
}
span.zhuyin {
  
  font-size: 0.667em;
  font-style: normal;
  font-weight: normal;
}
p.para-style-override-1 {
  break-after: page;
  text-align: right;
}
h1.para-style-override-2, p.para-style-override-2 {
  break-after: page;
}
p.para-style-override-4 {
  
  font-size: 0.667em;
  font-style: normal;
  font-weight: normal;
}
p.para-style-override-5 {
  
  font-size: 0.708em;
  font-style: normal;
  font-weight: normal;
}
p.para-style-override-7 {
  
  font-style: normal;
  font-weight: normal;
}
p.para-style-override-9 {
  break-after: page;
}
span.char-style-override-1 {
  font-size: 1em;
}
span.char-style-override-2 {
  
  font-size: 0.947em;
  font-style: normal;
  font-weight: normal;
}
span.char-style-override-3 {
  vertical-align: super;
}
span.char-style-override-4 {
  font-size: 0.875em;
}
span.char-style-override-5 {
  
  font-size: 0.875em;
  font-style: normal;
  font-weight: 300;
}
span.char-style-override-6 {
  font-size: 0.938em;
}
span.char-style-override-7 {
  
  font-style: normal;
  font-weight: normal;
}
img.frame-1 {
  height: 28em;
  width: 25em;
}
img.frame-2 {
  height: 2em;
  width: auto;
}
img.frame-12 {
  height: 20em;
  width: auto;
}
img.frame-13 {
  height: 20em;
  width: auto;
}
img.frame-3 {
  height: 348px;
  width: 274px;
}
img.frame-4 {
  height: 0;
  width: 274px;
}
img.frame-5 {
  height: 348px;
  width: 0;
}
img.frame-6 {
  height: 56px;
  width: 0;
}
img.frame-7 {
  height: 104px;
  width: 0;
}
img.frame-8 {
  height: 57px;
  width: 0;
}
img.frame-9 {
  height: 106px;
  width: 0;
}
