<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>1597440</integer>
	<key>BKDisplayName</key>
	<string>白夜行</string>
	<key>BKGenerationCount</key>
	<integer>3</integer>
	<key>BKInsertionDate</key>
	<integer>694354596</integer>
	<key>artistName</key>
	<string>东野圭吾</string>
	<key>book-info</key>
	<dict>
		<key>publication-version</key>
		<real>0.0</real>
	</dict>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>白夜行</string>
	<key>updateDate</key>
	<date>2023-01-09T06:36:18Z</date>
</dict>
</plist>
