<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>1597440</integer>
	<key>BKDisplayName</key>
	<string>东野圭吾：白夜行</string>
	<key>BKGenerationCount</key>
	<integer>2</integer>
	<key>BKInsertionDate</key>
	<integer>694354596</integer>
	<key>artistName</key>
	<string>东野圭吾</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>03527A39F159BFDD7EBBCDC2DBE00432</string>
		<key>cover-image-path</key>
		<string>OEBPS/Image00001.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>E947D24B358FB35FAEA6E6CA3C2873DC</string>
		<key>publication-version</key>
		<real>0.0</real>
		<key>publisher-unique-id</key>
		<string>urn:uuid:273fd756-62f2-4858-8d67-99e08f24bba9</string>
		<key>unique-id</key>
		<integer>-4972255650375584712</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>东野圭吾：白夜行</string>
	<key>updateDate</key>
	<date>2023-01-02T12:16:36Z</date>
</dict>
</plist>
