<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>13484032</integer>
	<key>BKDisplayName</key>
	<string>越战的血</string>
	<key>BKGenerationCount</key>
	<integer>2</integer>
	<key>BKInsertionDate</key>
	<integer>698921557</integer>
	<key>artistName</key>
	<string>远征士兵</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>60F917532EEABCD98CEFA10E9CF7662E</string>
		<key>cover-image-path</key>
		<string>OPS/images/cover.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip
</string>
		<key>package-file-hash</key>
		<string>59641232CE8E26AA0591111EE3D1A256</string>
		<key>unique-id</key>
		<integer>6441293376469739178</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>bookDescription</key>
	<string>　　一个在现代只知道花天酒地的纨绔子弟，来到了他父亲所在的对越自卫反击战时代，他又会怎样面对这样一个血与火的世界，怎样面对自己曾经痛恨过的父亲呢？
    越战的血，为您开辟一个全新的战场，讲述一段不同寻常的战友之情！</string>
	<key>genre</key>
	<string>历史军事</string>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>越战的血</string>
	<key>updateDate</key>
	<date>2023-02-24T08:52:37Z</date>
</dict>
</plist>
