.bodycontent {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0.5em 0
    }
.bodycontent-1-bot {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0.5em 0 4em
    }
.bodycontent-1-kaiti {
    display: block;
    font-family: "kaiti";
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0.5em 0 0.5em 2em
    }
.bodycontent-1-kaiti-bot {
    display: block;
    font-family: "kaiti";
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0.5em 0 1.3em
    }
.bodycontent-1-kaiti-bot1 {
    display: block;
    font-family: "kaiti";
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0.5em 0 1.3em 2em
    }
.bodycontent-1-kaiti-top {
    display: block;
    font-family: "kaiti";
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 1.3em 0 0.5em 2em
    }
.bodycontent-1-kaiti-top1 {
    display: block;
    font-family: "kaiti";
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 1.3em 0 0.5em
    }
.bodycontent-1-kaiti-topbot {
    display: block;
    font-family: "kaiti";
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 1.3em 0 1.3em 2em
    }
.bodycontent-1-top {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 1.3em 0 0.5em
    }
.bodycontent-1-topbot {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 1.3em 0
    }
.bodycontent1 {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0.5em 0 0.5em 3em
    }
.calibre {
    background-color: transparent;
    display: block;
    font-family: songti;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold
    }
.calibre2 {
    display: block;
    line-height: 1.2
    }
.calibre3 {
    display: block
    }
.contents {
    display: block;
    font-family: "heiti";
    font-size: 1em;
    line-height: 1.2em;
    text-align: left;
    text-indent: 0;
    margin: 0.2em 0
    }
.contents1 {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    text-align: left;
    text-indent: 0;
    margin: 0.2em 0 0.2em 2em
    }
.pic-img {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 0
    }
.prefacetitle-c {
    display: block;
    font-family: "heiti";
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1.6em 0 0
    }
.signcontent-1-kaiti-bot {
    display: block;
    font-family: "kaiti";
    font-size: 1em;
    line-height: 1.5em;
    text-align: right;
    text-indent: 0;
    margin: 0 0 1.3em
    }
.title_img {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0
    }
.txtheading {
    display: block;
    font-family: "heiti";
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 1.2em 0
    }
