<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>金辉/张惠生</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>21922D1740D401840DAD8AFE3EB84AC3</string>
		<key>cover-image-path</key>
		<string>OEBPS/Image00000.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>569A06F7CAF18A0BBC5471F66EC1008D</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:273fd756-62f2-4858-8d67-99e08f24bba9</string>
		<key>unique-id</key>
		<integer>-4972255650375584712</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>中越战争秘录</string>
	<key>playlistName</key>
	<string>中越战争秘录</string>
	<key>releaseDate</key>
	<string>1990-01-31T16:00:00+00:00</string>
	<key>sort-artist</key>
	<string>金辉/张惠生</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
