<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>679936</integer>
	<key>BKDisplayName</key>
	<string>中越战争秘录</string>
	<key>BKGenerationCount</key>
	<integer>2</integer>
	<key>BKInsertionDate</key>
	<integer>693548708</integer>
	<key>artistName</key>
	<string>金辉/张惠生</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>21922D1740D401840DAD8AFE3EB84AC3</string>
		<key>cover-image-path</key>
		<string>OEBPS/Image00000.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>569A06F7CAF18A0BBC5471F66EC1008D</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:273fd756-62f2-4858-8d67-99e08f24bba9</string>
		<key>unique-id</key>
		<integer>-4972255650375584712</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>bookDescription</key>
	<string>&lt;p class="description"&gt;对越自卫反击战，又称中越战争，是指1979年2月17日－1979年3月16日中国越南两国在越南北部边境爆发的战争。广义的中越战争，是指从1979年到1989年近十年间的中越边境军事冲突。包括1979年中越边境自卫还击作战，1981年中国收复扣林山、法卡山之战，1984年收复老山、者阴山、八里河东山之战，对越拔点作战，两山轮战，对越坚守防御作战等。本书记载了本次战争中的一些鲜为人知的事件。&lt;/p&gt;</string>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>中越战争秘录</string>
	<key>updateDate</key>
	<date>2022-12-24T04:25:08Z</date>
</dict>
</plist>
