<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>3084288</integer>
	<key>BKDisplayName</key>
	<string>鲁滨逊漂流记</string>
	<key>BKGenerationCount</key>
	<integer>2</integer>
	<key>BKInsertionDate</key>
	<integer>694352890</integer>
	<key>artistName</key>
	<string>丹尼尔·笛福</string>
	<key>book-info</key>
	<dict>
		<key>publication-version</key>
		<real>0.0</real>
	</dict>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>鲁滨逊漂流记</string>
	<key>updateDate</key>
	<date>2023-01-02T11:48:10Z</date>
</dict>
</plist>
