<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>2842624</integer>
	<key>BKDisplayName</key>
	<string>血酬定律：中国历史中的生存游戏</string>
	<key>BKGenerationCount</key>
	<integer>3</integer>
	<key>BKInsertionDate</key>
	<integer>697699255</integer>
	<key>artistName</key>
	<string>吴思</string>
	<key>book-info</key>
	<dict>
		<key>publication-version</key>
		<real>0.0</real>
	</dict>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>血酬定律：中国历史中的生存游戏</string>
	<key>updateDate</key>
	<date>2023-02-10T05:20:55Z</date>
</dict>
</plist>
