<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>吴思</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>759B77BF03B032D3A3B7B24097479A26</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>114EAFA6331CA107626770D671EB4009</string>
		<key>publisher-unique-id</key>
		<string>43139eb9-a235-45b6-bfd7-caf6ee2b774d</string>
		<key>unique-id</key>
		<integer>4006826760775180343</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>血酬定律：中国历史中的生存游戏(官场商场职场必读之书)</string>
	<key>playlistName</key>
	<string>血酬定律：中国历史中的生存游戏(官场商场职场必读之书)</string>
	<key>releaseDate</key>
	<string>2013-11-30T16:00:00+00:00</string>
	<key>sort-artist</key>
	<string>吴思</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
