.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_1 {
    height: 1280px;
    vertical-align: baseline;
    width: 960px
    }
.calibre_2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_3 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_4 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_5 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_6 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0
    }
.calibre_7 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_8 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_9 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_10 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 0
    }
.calibre_11 {
    height: 338px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_12 {
    height: 450px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_13 {
    height: 354px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_14 {
    height: 300px;
    vertical-align: baseline;
    width: 588px
    }
.calibre_15 {
    height: 478px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_16 {
    height: 277px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_17 {
    height: 341px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_18 {
    height: 371px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_19 {
    height: 349px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_20 {
    height: 348px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_21 {
    height: 381px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_22 {
    height: 275px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_23 {
    height: 386px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_24 {
    height: 376px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_25 {
    height: 846px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_26 {
    height: 300px;
    vertical-align: baseline;
    width: 386px
    }
.calibre_27 {
    height: 429px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_28 {
    height: 359px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_29 {
    height: 686px;
    vertical-align: baseline;
    width: 224px
    }
.calibre_30 {
    height: 469px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_31 {
    height: 344px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_32 {
    height: 444px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_33 {
    height: 300px;
    vertical-align: baseline;
    width: 321px
    }
.calibre_34 {
    height: 375px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_35 {
    height: 455px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_36 {
    height: 316px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_37 {
    height: 357px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_38 {
    height: 293px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_39 {
    height: 326px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_40 {
    height: 416px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_41 {
    height: 331px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_42 {
    height: 419px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_43 {
    height: 395px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_44 {
    height: 300px;
    vertical-align: baseline;
    width: 388px
    }
.calibre_45 {
    height: 500px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_46 {
    height: 383px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_47 {
    height: 503px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_48 {
    height: 393px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_49 {
    height: 288px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_50 {
    height: 328px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_51 {
    height: 426px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_52 {
    height: 551px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_53 {
    height: 477px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_54 {
    height: 296px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_55 {
    height: 448px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_56 {
    height: 653px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_57 {
    height: 664px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_58 {
    height: 900px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_59 {
    height: 290px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_60 {
    height: 404px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_61 {
    height: 369px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_62 {
    height: 392px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_63 {
    height: 356px;
    vertical-align: baseline;
    width: 250px
    }
.calibre_64 {
    height: 321px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_65 {
    height: 390px;
    vertical-align: baseline;
    width: 420px
    }
.calibre_66 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre_67 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.calibre1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-size: 0.75em
    }
.calibre4 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre5 {
    font-size: 0.83333em
    }
.calibre6 {
    font-size: 1em
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
