<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>1921024</integer>
	<key>BKDisplayName</key>
	<string>毛泽东私人医生回忆录</string>
	<key>BKGenerationCount</key>
	<integer>4</integer>
	<key>BKInsertionDate</key>
	<integer>697879909</integer>
	<key>artistName</key>
	<string>李志绥</string>
	<key>book-info</key>
	<dict>
		<key>publication-version</key>
		<real>0.0</real>
	</dict>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>毛泽东私人医生回忆录</string>
	<key>updateDate</key>
	<date>2023-02-12T07:32:46Z</date>
</dict>
</plist>
