<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>1011712</integer>
	<key>BKDisplayName</key>
	<string>一个刑警的日子</string>
	<key>BKGenerationCount</key>
	<integer>3</integer>
	<key>BKInsertionDate</key>
	<integer>693548707</integer>
	<key>artistName</key>
	<string>蓝衣</string>
	<key>book-info</key>
	<dict>
		<key>publication-version</key>
		<real>0.0</real>
	</dict>
	<key>bookDescription</key>
	<string>]]&gt;</string>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>一个刑警的日子</string>
	<key>updateDate</key>
	<date>2022-12-24T04:25:07Z</date>
</dict>
</plist>
