<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>蓝衣</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>CC853ECDDECEE168551BB70071E9F320</string>
		<key>cover-image-path</key>
		<string>OEBPS/Image00000.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>CBCADB4B3EDA9641EE0C14E4A9158BDF</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:273fd756-62f2-4858-8d67-99e08f24bba9</string>
		<key>unique-id</key>
		<integer>-4972255650375584712</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>一个刑警的日子（首次公开！中国刑警生活实录，集未曾听说过的要案奇案，从没见识过的刑侦手段，虚构不出来的刑警生活于一身！）</string>
	<key>playlistName</key>
	<string>一个刑警的日子（首次公开！中国刑警生活实录，集未曾听说过的要案奇案，从没见识过的刑侦手段，虚构不出来的刑警生活于一身！）</string>
	<key>releaseDate</key>
	<string>2018-07-29T16:00:00+00:00</string>
	<key>sort-artist</key>
	<string>蓝衣</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
