<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>沈志华</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>FD13C6657A266E0CD8B4D612D75A03B4</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>6CEA676A7C8726083329631275F351D8</string>
		<key>publisher-unique-id</key>
		<string>dc90d112-81f0-47a1-b02e-6076a207ca52</string>
		<key>unique-id</key>
		<integer>6616205094252110816</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>genre</key>
	<string>历史</string>
	<key>itemName</key>
	<string>毛泽东、斯大林与朝鲜战争</string>
	<key>playlistName</key>
	<string>毛泽东、斯大林与朝鲜战争</string>
	<key>releaseDate</key>
	<string>2003-02-20T16:00:00+00:00</string>
	<key>sort-artist</key>
	<string>沈志华</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
