.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0 2em
    }
.calibre_1 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6em 0 0
    }
.calibre_3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_5 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre_6 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 8pt 0 0 2em
    }
.calibre_7 {
    display: block;
    margin: 8pt 0 0 2em
    }
.calibre_8 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_9 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_10 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0
    }
.calibre_11 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_12 {
    display: block;
    margin: 1em 0 0 2em
    }
.calibre_13 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_14 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre_15 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 13pt 0 0
    }
.calibre_16 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.calibre_17 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 7pt 0 0
    }
.calibre_18 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4pt 0 0 2em
    }
.calibre_19 {
    height: 289px;
    vertical-align: baseline;
    width: 520px
    }
.calibre_20 {
    height: 179px;
    vertical-align: baseline;
    width: 377px
    }
.calibre_21 {
    height: 331px;
    vertical-align: baseline;
    width: 511px
    }
.calibre_22 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 2em 0 0 2em
    }
.calibre_23 {
    height: 396px;
    vertical-align: baseline;
    width: 552px
    }
.calibre_24 {
    height: 611px;
    vertical-align: baseline;
    width: 541px
    }
.calibre_25 {
    height: 272px;
    vertical-align: baseline;
    width: 556px
    }
.calibre_26 {
    height: 175px;
    vertical-align: baseline;
    width: 494px
    }
.calibre_27 {
    height: 183px;
    vertical-align: baseline;
    width: 536px
    }
.calibre_28 {
    height: 113px;
    vertical-align: baseline;
    width: 532px
    }
.calibre_29 {
    height: 236px;
    vertical-align: baseline;
    width: 512px
    }
.calibre_30 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 0
    }
.calibre1 {
    font-size: 1.375em;
    line-height: 1.2
    }
.calibre2 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre3 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre4 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre5 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre6 {
    font-size: 0.75em
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
